body {
  background-color: #222;
}

.App {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.container {
  border: 1px solid black;
  background-color: white;
  width: 25em;
  height: 25em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.battleContainer {
    display: flex;
    flex-direction: column;
}

.playerContainer, .enemyContainer {
    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
    align-items: flex-end;
}

.textContainer {
    border-style: double;
    border-width: 4px;
    border-radius: 5px;
    padding: 1em;
    height: 4em;
    font-family: monospace;
    font-size: 1.2em;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
}

.blinker {
    animation: blinker 1.75s linear infinite;
  }
   
  @keyframes blinker {
    49% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    99% {
      opacity: 0;
    }
  }

.playerAction {
  animation: action 2s linear;
}

  @keyframes action {
    from {
      left: 5em;
      top: 15em;
    }
  
    to {
      left: 15em;
      top: 5em;
    }
  }

  .testBtns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 18em;
}

.testBtns * {
    padding: 1em;
    width: 10em;
}
