
.battleContainer {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.battleContainer * {
    margin: 10px;
}

.playerContainer, .enemyContainer {
    display: flex;
}

.textContainer {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1em;
    font-family: monospace;
    font-size: 1.2em;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
}

.blinker {
    animation: blinker 2s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .testBtns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 18em;
}

.testBtns * {
    padding: 1em;
    width: 10em;
}
